<form class=''>
  <div class='input-group'>
    <app-input id='initial-investment' label='Investimento Inicial' [(value)]='payload.initialInvestment' />
    <app-input id='annual-investment' label='Investimento Anual' [(value)]='payload.annualInvestment' />
    <app-input id='expect-return' label='Retorno esperado' [(value)]='payload.expectedReturn' />
    <app-input id='duration' label='Duração' [(value)]='payload.duration' />
  </div>
  <button type='button' (click)="submit()">Calcular</button>
</form>
