/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

@import 'tailwindcss';

@theme {
  --font-syne: 'syne', sans-serif;

  --color-ayu-bg: #fcfcfc;
  --color-ayu-accent: #f29718;
  --color-ayu-keyword: #fa742b;
  --color-ayu-string: #86b300;
  --color-ayu-comment: #abb2bf;
}

.font-syne {
  font-family: 'Syne', sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #fcfcfc;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
}

.done {
  text-decoration: line-through;
  opacity: 0.6;
}

.online {
  color: green;
}

.offline {
  color: red;
}
